@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: local('Inconsolata'), url(../fonts/inconsolata.woff2) format('woff2');
}

body {
    margin: 0;
    font-family: "Helvetica","Arial",sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
    height: 0;
    overflow: visible;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    min-height: 28px;
    padding: 100px 0 0;
    border-width: 1px 1px 1px 6px;
    border-radius: 3px;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.my-main {
    display: flex;
    flex-flow: row nowrap;
}

.my-sidebar {
    background: linear-gradient(#50A6B3, #619C9C);
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 270px;

    z-index: 15;

    transform-style: flat;
    transition-duration: 0.2s;
    transition-property: flex-basis;
    transition-timing-function: ease;
}

.my-sidebar-enter, .my-sidebar-leave {
    flex-basis: 0;
}

.my-sidebar-header {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-flow: row nowrap;
    height: 42px;
    padding-top: 18px;
    padding-bottom: 8px;
    align-items: center;
}

.my-search {
    font-size: 12px;
    color: #fefefe;
    background-color: transparent;
    border: 1px solid #fefefe;
    border-radius: 16px;
    height: 32px;
    width: 160px;

    margin: 0 12px 0 28px;
    padding-left: 12px;

    transition: width 200ms, margin 200ms;
}
.my-search::-webkit-input-placeholder {
    color: rgba(250, 250, 250, 0.9);
}
.my-search:focus {
    outline: none;
    width: 180px;
    margin-left: 8px;
}

.my-add-note {
    border: solid 1px #fefefe;
    height: 45px;
    border-radius: 50%;
    width: 45px;
    color: #eee;
    background-color: transparent;
    transition: background-color 200ms, border 200ms;
}
.my-add-note:hover {
    cursor: pointer;
    border: solid 1px rgb(115, 202, 181);
    background-color: rgb(115, 202, 181);
}
.my-add-note:focus {
    outline: none;
}

.my-sidebar-body {
    display: flex;
    flex-flow: row nowrap;
}

.my-shelf {
    width: 90px;
    height: calc(100vh - 68px - 4px);
    padding-top: 4px;
    background: transparent;
    color: rgba(250,250,250,0.9);
    font-weight: 200;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}
.isShelfSelected {
    background-color: rgb(115, 202, 181);
    color: #fefefe;
}
.noteIsHere {
    font-weight: 600;
}
.my-shelf-wrapper:hover {
    cursor: pointer;
}
.my-shelf-all {
    font-size: 14px;
    font-weight: 500;
    padding: 1px 0 1px 15px;
    border-radius: 0 2px 2px 0 / 0 2px 2px 0;

    -webkit-user-select: none;
    transition: background-color 200ms;
}
.my-shelf-all:hover {
    cursor: pointer;
}

.my-notes {
    background-color: transparent;
    box-sizing: border-box;

    color: #424242;

    width: 180px;
    height: calc(100vh - 68px);

    overflow-y: auto;
    overflow-x: hidden;

    -webkit-user-select: none;
}

.my-sidebar-toggle {
    position: fixed;

    top: calc(50vh - 50px);
    width: 8px;
    height: 100px;

    border: 0;
    padding: 0;

    border-radius: 0 2px 2px 0 / 0 2px 2px 0;
    background-color: #bdbdbd;

    z-index: 5;
}
.my-sidebar-toggle:hover {
    cursor: pointer;
}
.my-sidebar-toggle:focus {
    outline: none;
}
.my-sidebar-toggle i {
    color: #eee;
    font-size: 12px;
    margin-left: -2px;
}
.my-sidebar-toggle.isFullScreen i {
    transform: rotate(180deg);
}

.my-editor {
    background-color: #fefefe;
    height: 100vh;
    flex-basis: calc(100vw - 180px - 110px);
    flex-grow: 1;
    margin: 0 auto;
    overflow-y: auto;
}

.my-editor-header {
    margin: 4px auto auto 16px;
    overflow: hidden;
    padding: 0 16px 8px;
    width: auto;
}

.my-editor-tag-icon {
    color: #888;
    font-size: small;
    line-height: 40px;
    height:40px;
    margin: auto;
}

.my-editor-tags {
    background-color: transparent;
    border: 0 solid;
    border-bottom: 1px solid #ddd;
    height: 24px;
    width: 280px
}

.CodeMirror {
    text-rendering: optimizeSpeed;
    background-color: transparent;
    background-image: url('../images/notelines.png');
}
.CodeMirror,
.my-editor-preview {
    margin: 30px 4vw 16px 4vw;

    width: auto;
    min-height: calc(100vh - 46px);
    min-width: 206px;
    height: auto;

    color: #333;

    font-family: "Inconsolata", "Myrica", monospace;
    font-size: 14px;
    line-height: 20px;
}

.CodeMirror-scroll {
    overflow-y: hidden !important;
    width: auto;
    min-height: calc(100vh - 46px);
    height: auto;
}
.CodeMirror-sizer {
    margin-bottom: 72px !important;
}
.CodeMirror-vscrollbar {
    display: none !important;
}

.cm-piled-em {font-style: italic;}
.cm-piled-strikethrough {text-decoration: line-through;}

.CodeMirror span.cm-piled-header,
.CodeMirror span.cm-piled-code,
.CodeMirror span.cm-piled-quote,
.CodeMirror span.cm-piled-list1,
.CodeMirror span.cm-piled-list2,
.CodeMirror span.cm-piled-list3,
.CodeMirror span.cm-piled-hr,
.CodeMirror span.cm-piled-image,
.CodeMirror span.cm-piled-formatting,
.CodeMirror span.cm-piled-link-inline,
.CodeMirror span.cm-piled-link-email,
.CodeMirror span.cm-piled-link-text,
.CodeMirror span.cm-piled-link-href,
.CodeMirror span.cm-piled-em,
.CodeMirror span.cm-piledstrong,
.CodeMirror span.cm-piled-strikethrough {
}

.CodeMirror span.cm-comment,
.CodeMirror span.cm-atom,
.CodeMirror span.cm-number,
.CodeMirror span.cm-property,
.CodeMirror span.cm-attribute,
.CodeMirror span.cm-keyword,
.CodeMirror span.cm-string,
.CodeMirror span.cm-variable,
.CodeMirror span.cm-variable-2,
.CodeMirror span.cm-def,
.CodeMirror span.cm-bracket,
.CodeMirror span.cm-tag,
.CodeMirror span.cm-link,
.CodeMirror span.cm-error {
}

pre.CodeMirror-placeholder {
    color: rgba(153, 153, 153, 0.8);
}

span.cm-piled-list1,
span.cm-piled-list2,
span.cm-piled-list3 {
    color: #333;
}
span.cm-piled-formatting-list-ul,
span.cm-piled-formatting-list-ol {
    font-weight: bold;
    color: #777 !important;
}
span.cm-piled-formatting-task {
    font-weight: 600;
    font-family: monospace;
}

.CodeMirror span.cm-meta {
    font-style: normal;
}

.my-editor-preview ul,
.my-editor-preview ol{
    padding-left: 28px;
}

.CodeMirror span.cm-piled-header-1,
.my-editor-preview h1 {
    font-size: 26px;
    color: #3f51b5;
    font-weight: 700;
    line-height: 40px;
    border-bottom: solid 1px rgba(10, 11, 207, 0.1)
}
.my-editor-preview blockquote {
    margin: 0;
    padding: 8px 14px;
    background-color: #F5F3F3;
    border-left: solid 4px #ccc;
    color: #777;
}
.my-editor-preview blockquote p {
    margin: 0;
}

.my-editor-preview h1 {
    margin-top: 0;
}

.CodeMirror span.cm-piled-header-2,
.my-editor-preview h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
}
.my-editor-preview h2 {
    padding-left: 10px;
    border-left: solid 4px #333;
}

.CodeMirror span.cm-piled-header-3,
.my-editor-preview h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
}

.CodeMirror span.cm-string {
    color: #DD1144;
}
.CodeMirror span.cm-variable-2 {
    color: #121289;
}
.CodeMirror span.cm-keyword {
    color: #708;
    font-weight: bold;
}
.CodeMirror span.cm-def {
    color: #458;
    font-weight: bold;
}

.CodeMirror span.cm-piled-code, code {
    color: #0A3ABF;
}

.CodeMirror span.cm-piled-strong,
.my-editor-preview strong {
    color: #b6455d;
    font-weight: 800;
}

.cm-piled-quote {
    color: #777;
}

.cm-piled-link,
.cm-piled-link-href:not(.cm-piled-formatting) {
    color: #0000ee;
    text-decoration: underline;
}
.cm-piled-link-text {
    font-weight: 800;
    font-family: monospace;
}
.CodeMirror span.cm-piled-image {
    font-weight: 800;
    font-family: monospace;
}

.my-editor-preview h2,.my-editor-preview h3 { margin: 18px 0 12px 0 }
.my-editor-preview h3 { line-height: 30px }
.my-editor-preview h4 { font-size: 18px }
.my-editor-preview h5 { font-size: 16px }
.my-editor-preview li {
    line-height: 20px;
}

.my-editor-preview img {
    max-width: 500px;
    max-height: 500px;
    height: auto;
}

.CodeMirror-focused .CodeMirror-selected { background: #add5ff; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #add5ff; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #add5ff; }

/* Search dialog */

.CodeMirror-dialog.CodeMirror-dialog-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fdfdfd;
    margin-left: -30px;
    border-top: solid 1px #d0d0d0;
    padding: 8px 8px 8px 16px;
    z-index: 5;
}

.CodeMirror-search-field {
    border-radius: 4px;
    width: 220px;
}

.CodeMirror-dialog button {
    background-color: #fafafa;
    border: solid 1px #eaeaea;
    margin-right: 4px;
}
.CodeMirror-dialog button:hover {
    background-color: #eeeeee;
}
