<div class="modal-mask" v-show="show" transition="modal">
  <div class="modal-wrapper">
    <div class="modal-container">
      <h3>{{ title }}</h3>
      <p>{{ description }}</p>
      <form>
      <div class="modal-prompts">
        <div class="modal-field" v-for="field in prompts">
          <span class="modal-field-label">{{ field.label }}</span>
          <input :type="field.type" :placeholder="field.placeholder" v-model="field.retValue" :name="field.label" required>
        </div>
      </div>
      <div class="modal-buttons">
        <button @click="cancel()" class="modal-button modal-button-cancel">Cancel</button>
        <button @click="submit()" class="modal-button modal-button-submit">OK</button>
      </div>
    </form>
    </div>
  </div>
</div>
