.my-separator {
    margin-bottom: 12px;
}
.my-separator-date {
    color: rgba(250, 250, 250, 0.9);
    min-width: 164px;
    margin-left: 16px;
    line-height: 18px;
    font-size: 12px;
}
.my-notes-note {
    position: relative;

    background-color: rgba(230, 230, 230, 0.84);
    border-radius: 2px;

    margin: 5px;
    width: 146px;
    min-height: 12px;
    padding: 10px;

    overflow-x: hidden;

    color: #737373;
    font-size: 10px;
    line-height: 1.2;

    -webkit-user-select: none;

    transition: background-color 200ms ease,
                margin 200ms ease;
}
.my-notes-note img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}
.my-notes-note.my-notes-note-selected img {
    opacity: 1;
}

h5.my-notes-note-title {
    margin-top: 4px;
    margin-bottom: 2px;

    color: #444;
    font-size: 14px;
    line-height: 16px;
    font-weight: 800;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.my-notes-note:hover {
    background-color: #fafafa;
    cursor: pointer;
}
.my-notes-note:hover.inFolderNote:after {
    background-color: rgba(0, 0, 0, 0.1);
}

.my-notes-note.my-notes-note-selected {
    background-color: #fafafa;
    margin-left: 8px;
}
.my-notes-note.my-notes-note-selected.inFolderNote:after {
    background-color: rgba(0, 0, 0, 0.1);
}

.my-notes-note-text {
    white-space: pre-line;
    max-height: 180px;
    overflow-y: hidden;
    word-wrap: break-word;
}
