.my-editor-header-right {
    position: absolute;
    top: 8px;
    right: 20px;
    z-index: 10;
    background-color: transparent;
}

.my-editor-header-wide-buttons {
    display: flex;
}
@media screen and (max-width: 600px) {
    .my-editor-header-wide-buttons {
        display: none;
    }
}
.my-editor-header-small-buttons {
    display: none;
}
@media screen and (max-width: 600px) {
    .my-editor-header-small-buttons {
        display: flex;
    }
}

.my-editor-header-wide-buttons .my-editor-button-preview {
    width: 78px;
    padding: 0 12px;
    border-radius: 4px;
}

.my-editor-header-small-buttons .my-editor-button-preview {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.my-editor-button:hover {
    cursor: pointer;
}

.my-editor-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}
.my-editor-button:focus {
    outline: none;
}

.my-editor-button-preview {
    background-color: #fafafa;
    border: solid 1px #eaeaea;
}
.my-editor-button-preview:hover {
    background-color: #eeeeee;
}

.my-editor-button-text {
    text-transform: none;
}
