.my-shelf-rack {
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 4px;
}
.my-shelf-rack h5 {
    min-width: 96px;
    margin: 0 auto 4px auto;
    padding: 1px 8px 1px 8px;
    font-weight: 500;
    border-radius: 0 2px 2px 0 / 0 2px 2px 0;
    white-space: initial;
    word-wrap: break-word;

    -webkit-user-select: none;
    transition: background-color 200ms;
}

.my-shelf-rack h5 input {
    width: 62px;
}

.my-shelf-rack.sortUpper:after {
    position: absolute;
    top: -1px;
    left: 0;
    width: 110px;
    height: 2px;
    content: "";
    background-color: #62c8f3
}
.my-shelf-rack.sortLower:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 110px;
    height: 2px;
    content: "";
    background-color: #62c8f3
}

.my-shelf-folder {
    position: relative;
    font-size: 12px;

    padding: 3px 2px 3px 6px;

    border-radius: 0 2px 2px 0 / 0 2px 2px 0;
    transition: background-color 200ms;
}
.my-shelf-folder.sortUpper:after {
    position: absolute;
    top: -1px;
    left: 0;
    width: 110px;
    height: 2px;
    content: "";
    background-color: #62c8f3
}
.my-shelf-folder.sortLower:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 110px;
    height: 2px;
    content: "";
    background-color: #62c8f3
}
.my-shelf-folder a {
    display: flex;
    flex-flow: row nowrap;

    -webkit-user-select: none;
}
.my-shelf-folder i {
    font-size: 12px;
    margin-right: 3px;
}
.my-shelf-folder-name {
    min-width: 86px;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: initial;
}
.my-shelf-folder span input {
    width: 48px;
}

.my-shelf-folder.noteDragging {
    color: #fefefe;
}
